.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: -3px 3px 9px 0px #00000017;
  z-index: 200 !important;
  .logo {
    padding-left: 10px;
    width: 100px;
    cursor: pointer;
  }

  .search {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    input {
      background-color: #f2effd;
      border: none;
      font-size: 14px;
      width: 30vh;
      text-align: center;
    }

    svg {
      position: relative;
      right: 40px;
      background-color: #51A94B;
      padding: 2px;
      border-radius: 5px;
    }
  }

  .profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    width: 250px;
    cursor: pointer;
    .avatar {
      width: 30px;
      box-shadow: -1px 10px 11px 0px #0000006b;
      border-radius: 20px;
    }
    span {
      color: grey;
      font-weight: 500;
    }
  }
}

